{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@": "./src",
        "@test-utils": "./test-utils"
      }
    }]
  ]
}